@import 'header.css';
@import 'responsive.css';

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
}

.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  align-items: center;
  text-align: center;
  background: url('../public/images/hero.png') no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 500px;
}

main {
  width: 100%;
  margin: 0 auto;
}

/* Favorite & Explore */

#favorite,
#explore,
#detail,
.create-review,
.review {
  width: 100%;
  margin: 50px auto;
}

#favorite h2,
#explore h2,
#detail h2,
.create-review h2,
.review h2 {
  text-align: center;
  color: #30475e;
  font-weight: 700;
}

#favorite .content-favorite,
#explore .content-explore,
.content-detail,
.create-review .content,
.review .content {
  margin: 20px 30px 0;
}

#favorite .content-favorite .box-favorite .rating,
#explore .content-explore .box-explore .rating {
  margin-top: 12px;
  color: #fb2775;
  font-weight: 500;
  font-size: 14px;
}

#favorite .content-favorite .box-favorite .title,
#explore .content-explore .box-explore .title {
  color: #30475e;
  font-weight: 600;
}

.image .products-thumbnail {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
}

.image .products-thumbnail img {
  width: 100%;
  height: 100%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
}

.image .products-thumbnail:hover img {
  transform: scale(1.04);
}
