/* explore */
#explore .content-explore .box-explore {
  box-shadow: 4px 8px 5px 0 rgba(32, 31, 31, 0.2);
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

#explore .content-explore .box-explore .badge {
  display: inline-block;
  background: #fb2775;
  border-radius: 0 8px;
  color: #ffff;
  font-size: 14px;
  padding: 6px;
  position: absolute;
  z-index: 1;
}

#explore .content-explore .box-explore .subtitle {
  color: #b0b0b0;
  text-align: justify;
  font-weight: 400;
  font-size: 12px;
}
