/* favorite */

#favorite .content-favorite .box-favorite {
  cursor: pointer;
  margin-top: 20px;
}

#favorite .content-favorite .box-favorite .subtitle {
  font-size: 14px;
  color: #b0b0b0;
  font-weight: 400;
}
