footer {
  width: 100%;
  margin-top: 100px;
  text-align: center;
  align-items: center;
  background: rgb(252, 252, 252);
}

footer .content-footer {
  margin: 50px 10%;
}

footer .content-footer .box-footer {
  padding-top: 30px;
}

footer .content-footer .box-footer h1 {
  color: #30475e;
  font-weight: 700;
}

footer .content-footer .box-footer h1 span {
  color: #3252df;
}

footer .content-footer .box-footer .title {
  margin-top: 8px;
  color: #30475e;
  font-weight: 600;
  font-size: 20px;
}

footer .content-footer .box-footer .subtitle {
  margin-top: 4px;
  color: #b0b0b0;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

footer .content-footer .box-footer ul {
  list-style-type: none;
}

.copyright {
  margin-top: 50px;
  color: #b0b0b0;
  font-size: 16px;
  padding-bottom: 50px;
}
