.hero {
  display: flex;
  align-items: center;
  text-align: center;
  background: url("/images/heros/hero-image_2.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 500px;
}

.hero-content {
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
}

.hero-content h1 {
  color: #3252df;
  font-weight: 700;
  font-size: 32px;
}

.hero-content p {
  margin-top: 8px;
  color: #ffff;
  font-size: 18px;
  font-weight: 500;
}
